.button_active {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  border-radius: 0.1875rem;
  font-family: 'Montserrat';
  background: var(--viv-blue, #1900c0);
  padding: 0.625rem 1.25rem;
  color: var(--white, #FFF);
  font-size: 0.75rem;
  font-weight: 500;
  border: none;
}

.button_active:hover {
  cursor: pointer;
}
