.select {
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.1875rem;
  border: 0.0625rem solid var(--borders-dividers, #eee);
  background: var(--White, #fff);
  color: var(--Secondary-Text, #6f6f6f);
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-weight: 500;
}

.select:hover {
  cursor: pointer;
}

.select:focus {
  outline: none !important;
}

