.report_list_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item {
  margin: 0;
  padding: 0.625rem 0.9375rem;
  color: var(--Secondary-Text, #6f6f6f);
  font-size: 0.75rem;
  font-weight: 500;
  border-left: 0.0625rem solid #EEE;
  border-top: none;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.left_item {
  composes: item;
  border-left: none;
  gap: 0.625rem;
}

.right_item {
  composes: item;
  border-right: none;
}

.due_icon {
  padding: 0.1875rem;
  border-radius: 0.125rem;
  background: #fff6de;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
