.no_data {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.title {
  color: var(--Input-Text-Active, #333);
  font-family: "Sora";
  font-size: 1rem;
  font-weight: 600;
}

.text {
  color: var(--Upload-Box-Border, #c4c4c4);
  font-size: 0.75rem;
  font-weight: 500;
}
