.inputContainer {
  position: relative;
  border: 0;
}
.input {
  width: 100%;
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--Borders-and-Dividers, #eee);
  padding: 0.625rem;
  color: var(--Secondary-Text, #6f6f6f);
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-weight: 500;
}
.input:focus {
  outline: none !important;
}
.input::placeholder {
  color: var(--Input-Text, #d8d8d8);
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-weight: 500;
}

.togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
div ul {
  margin: 0.3rem 0 0;
  padding: 0;
  list-style-type: disc;
  position: relative;
}
div ul h6 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  font-family: "Montserrat";
  color: var(--Secondary-Text, #6f6f6f);
  font-size: 0.6875rem;
  font-weight: 600;
}
div ul li {
  color: var(--Secondary-Text, #6f6f6f);
  font-size: 0.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0.3em;
  padding-left: 0.8em;
  overflow-y: visible;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

div ul li::before {
  content: "•";
  position: absolute;
  left: 01rem;
  padding: 0 2em 2em 0;
  margin-left: -2em;
}

div ul p {
  font-size: 0.5rem;
  margin: 0;
  padding: 0;

  color: var(--Secondary-Text, #6f6f6f);
  font-size: 0.6875rem;
  font-weight: 400;
}
.textHeader {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}
.textBody {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.requiredField {
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
  width: 30em;
  height: auto;
}
.popup_menu {
  position: fixed;
  top: 8.3rem;
  right: 1rem;
  background: #f9f9f9;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0.6rem;
}
